<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actively Distanced</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
            <a class="navbar-brand" href="/homepage">Actively Distanced</a>
     </header>

<!-- Navi section -->
<header class="tr-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>

            <div class="navbar-left">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div> 
        </div>
    </nav>
</header>

	 <!-- Navbar Second Section -->
<section class="nav-sec">
    <div class="d-flex justify-content-between">
        <div class="p-2 nav-icon-lg mint-green">
            <a class="nav-icon" href="/homepage"><em class="fa fa-home"></em>
                <span> 🏠 </span>
                <h3>Home</h3>
            </a>
        </div>
        <div class="p-2 nav-icon-lg dark-black">
            <a class="nav-icon" href="/create-post"><em class="fa fa-plus"></em>
                  <span> + </span>
                <h3>Add an activity</h3>
            </a>
        </div>
        <div class="p-2 nav-icon-lg dark-black">
            <a class="nav-icon" href="/myactivity"><i class="fa fa-heart"></i>
                  <span> 💚 </span>
                <h3>My activity</h3>
            </a>
        </div>
        <div class="p-2 nav-icon-lg dark-black">
            <a class="nav-icon" href="/logout"><em class="fa fa-minus"></em>
                  <span> ⚪️ </span>
                 {{#if loggedIn}}
                <a href="/">All Activites</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <h3 class="ui white image header" a href="/login">login</h3></a>
                {{/if}}
            </a>
        </div>
    </div>
</section>

    <div class="wrapper">
        
        <main>
            {{{ body }}}
        </main>
        <footer>
          <center><h4 class="ui teal image header">Have fun with safe activities! </h4> </center> 
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>