
<template name="items">
<div class="items">
        {{#each items}}
            {{> listedItem}}
        {{/each}}
</div>

{{#if activities.length}}
<section>
    <h2>Activities posted by You: </h2>
    <ol>
        {{#each activities as |activity|}}
        <li>
            {{> activity-info activity}}
            <a href="/dashboard/edit/{{activity.id}}" class="edit-link">Edit Activity</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/nav-createActivity.js"></script>
</template>