<div class="container">
  <div class="banner-content">
    <a href="/my-activities"> &larr; Back to my activites</a>
    <h2 class="form-signin-heading ui teal image header">
      Edit Activity
    </h2>
    <form class="edit-activity-form">
      <div class="form-group">
        <label for="activity-title" class="ui teal header">Title</label><br>
        <input name="activity-title" type="text" value="{{activity.title}}" />
      </div>
      <button type="submit" class="kafe-btn mint-blue btn-block">Save activity</button>
      <button type="button" class="delete-activity-btn kafe-btn mint-blue btn-block">Delete activity</button>
    </form>
  </div>
</div>

<script src="/javascript/edit-activity.js"></script>
<script src="/javascript/delete-activity.js"></script>