{{!-- edit activity form --}}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <a href="/my-activities"> &larr; Back to my activites</a>
    <h3 class="ui center aligned header" id="category-header">Edit Activity</h3>

    <form method="put" enctype="multipart/form-data" class="ui large form edit-activity-form">
      <div class="ui stacked segment form-group">
        <h4 class="ui teal image header"><label for="title" class="ui teal header">Title</label></h4><br>
        <input name="title" type="text" value="{{activity.title}}" />

        <h4 class="ui teal image header"><label for="description">Description</label></h4><br>
        <input type="text" id="description" name="description" placeholder="Describe your event..."
          value="{{activity.description}}" /><br>

        <h4 class="ui teal image header"><label for="date">Choose a date for your event:</label></h4>
        <input type="date" id="date" name="date" value="{{activity.date}}" /><br>

        <h4 class="ui teal image header"><label for="time">Choose a time for your event:</label></h4>
        <input type="time" id="time" name="time" value="{{activity.time}}" /><br>

        <button type="submit" class="ui teal submit button"> <i class="save outline icon"></i>Save activity</button>
        <button type="button" class="delete-activity-btn ui read submit button"><i
            class="trash alternate outline icon"></i>Delete activity</button>
    </form>
  </div>
</div>
</div>

{{!-- javascript imports --}}
<script src="/javascript/edit-activity.js"></script>
<script src="/javascript/delete-activity.js"></script>