<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<app-header></app-header>
<app-menu [menuActive]=1></app-menu>

 <!-- ==============================================
   News Feed Section
   =============================================== --> 
   <center><section class="newsfeed">
    <div class="container-fluid">
     <div class="row">
      <div class="col-lg-2">
      </div><!--/ col-lg-2 -->
      <div class="col-lg-8">
          
            <div class="cardbox">

                  
                </div>
                <div class="cardbox-heading__user">
                  <div class="cardbox-heading__user__id"> {{user.id}}</div>
                </div>
                <div class="cardbox-heading__date">{{trip.postTime|date}}</div>

              </div>

            </ul>
              <div class="cardbox-base">

                <div class="cardbox-base__description">
                  <div class="cardbox-base__summary__title">
                    {{dataValues.title}}
                  </div>
                  <div class=home-page-image>
                  <img src={{dataValues.image_url}} />
                  <div class="cardbox-base__summary__description">
                    {{dataValues.description}}
                  </div>
                  <small><span>{{dataValues.date}}</span></small>
                  <small><span>{{dataValues.time}}</span></small>

                </div>
             
                <div class="cardbox-base__bottom">
                  <ul>
                    <li><a href="" class="active">
                      <div class="icon-spirit icon__cardbox__like"></div><span>181</span></a>
                    </li>
                    <li><a href="#" title="" class="com">
                      <div class="icon-spirit icon__cardbox__comments"></div> <span class="span-last">21</span></a>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <a (click)="toggleLike(trip.id)" [ngClass]="myLikes[trip.id]?'active':''">
                        <div class="icon-spirit icon__cardbox__tag"></div>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <div class="icon-spirit icon__cardbox__share"></div>
                      </a>
                    </li>
                    
                  </ul>
                </div>
                <div class="cardbox-like">
          </div>

    
      </div><!--/ col-lg-8 -->
      <div class="col-lg-2">
      </div>
      </div> 

    
  
   <!-- ==============================================
   Modal Section
   =============================================== -->
     <div id="myModal" class="modal fade">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-body">
    
         <div class="row">
     
          <div class="col-md-8 modal-image">
          </div><!--/ col-md-8 -->
          <div class="col-md-4 modal-meta">
           <div class="modal-meta-top">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
       <span aria-hidden="true">×</span><span class="sr-only">Close</span>
      </button><!--/ button -->
            <div class="img-poster clearfix">
             <strong><a href="">{{user.id}}</a></strong>
            </div><!--/ img-poster -->
        
            <ul class="img-comment-list">
             <li>
              <div class="comment-img">
              </div>
              <div class="comment-text">
               <strong><a href="">Anthony McCartney</a></strong>
               <p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/15.jpg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Vanessa Wells</a></strong>
               <p>Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span>on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/14.jpg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Sean Coleman</a></strong>
               <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/13.jpeg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Anna Morgan</a></strong>
               <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/3.jpg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Allison Fowler</a></strong>
               <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
            </ul><!--/ comment-list -->
        
            <div class="modal-meta-bottom">
       <ul>
        <li><a class="modal-like" href="#"><i class="fa fa-heart"></i></a><span class="modal-one"> 786,286</span> | 
            <a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span> 786,286</span> </li>
        <li>
         <span class="thumb-xs">
        <img class="img-responsive img-circle" src="assets/img/users/13.jpeg" alt="Image">
         </span>
         <div class="comment-body">
         <input class="form-control input-sm" type="text" placeholder="Write your comment...">
         </div><!--/ comment-body --> 
              </li>       
             </ul>        
            </div><!--/ modal-meta-bottom -->
        
           </div><!--/ modal-meta-top -->
          </div><!--/ col-md-4 -->
      
         </div><!--/ row -->
        </div><!--/ modal-body -->
    
       </div><!--/ modal-content -->
      </div><!--/ modal-dialog -->
     </div><!--/ modal -->
    </center>
    </body>
    </html>