<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form class = "signup-form">
    <div>
        <p class="hide" id="taken">That username is already taken! Try again.</p>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    <div>
        <a href="/login">Login Instead</a>
    </div>
</form>
<script src="/javascript/sign-up.js"></script>
  
</body>
</html>